BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE COMP "clk" SITE "C8" ;
FREQUENCY PORT "clk" 12.000000 MHz ;
IOBUF PORT "clk" PULLMODE=NONE IO_TYPE=LVCMOS33 ;

LOCATE COMP "rst" SITE "B3" ;
LOCATE COMP "puls" SITE "H11" ;
LOCATE COMP "rosu" SITE "P16" ;
LOCATE COMP "galben" SITE "N15" ;
LOCATE COMP "verde" SITE "L13" ;

LOCATE COMP "verde_pietoni" SITE "L12";
LOCATE COMP "rosu_pietoni" SITE "J11";

LOCATE COMP "buton" SITE "N2";



IOBUF PORT "buton" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "rst" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "puls" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "rosu" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "galben" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "verde" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "verde_pietoni" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "rosu_pietoni" PULLMODE=UP IO_TYPE=LVCMOS33 ;